logs
project/project
project/target
target
tmp
.history
.cache
dist
bin
build/*
application.pid
schema.sql
.gradle/4.10.3/*
.idea/*
.gradle/*
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target

*.log
*IS_UNDEFINED*
